<div
  #myModal
  data-bs-backdrop="static"
  class="modal"
  role="dialog"
  tabindex="-1"
  id="staticBackdrop"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add Task</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit($event)">
          <div class="mb-3">
            <mat-button-toggle-group
              name="fontStyle"
              class="rounded end-0 border w-auto"
              [formControl]="taskForm.controls['status']"
              aria-label="Font Style"
            >
              <mat-button-toggle value="Open">Open</mat-button-toggle>
              <mat-button-toggle value="Closed">Closed</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div class="mb-3">
            <label for="entityname" class="form-label">Entity Name</label>
            <input
              type="text"
              class="form-control"
              id="entityname"
              placeholder="Enter entity name..."
              [formControl]="taskForm.controls['entityName']"
            />
          </div>
          <div class="mb-3">
            <label for="tasktype" class="form-label">Task Type</label>
            <select
              class="form-select"
              aria-label="Select task type"
              [formControl]="taskForm.controls['taskType']"
            >
              <option selected value="Call">Call</option>
              <option value="Meeting">Meeting</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <input
              type="text"
              class="form-control"
              id="notes"
              placeholder="Enter notes..."
              [formControl]="taskForm.controls['notes']"
            />
          </div>
          <div class="d-flex mb-3">
            <label for="date" class="form-label">Date</label>
            <input
              type="date"
              class="form-control"
              id="date"
              [formControl]="taskForm.controls['date']"
            />
            <label for="time">Time</label>
            <input
              type="time"
              class="form-control"
              id="time"
              [formControl]="taskForm.controls['time']"
            />
          </div>
          <div class="mb-3">
            <label for="contactPerson" class="form-label">Contact Person</label>
            <input
              type="text"
              class="form-control"
              [formControl]="taskForm.controls['contactPerson']"
            />
          </div>
          <div class="mt-4">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          mat-dialog-close
          (click)="close()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
