<div
  class="container border p-5 flex-column w-100 shadow justify-content-center d-flex"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
  #taskstable
  id="tab"
>
  <div class="d-flex justify-content-center">
    <button
      type="button"
      class="w-25 btn border btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="openModal()"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-circle d-flex w-100 align-items-center"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
          />
        </svg>
      </span>
      Add Task
    </button>
  </div>
  <app-task-form #myModal (tasks)="(tasks)" (dialog)="(dialog)"></app-task-form>
  <app-edit-task-form #editModal (dialog)="(dialog)"></app-edit-task-form>
  <table class="table table-hover w-100">
    <thead>
      <tr>
        <th scope="row">
          Date
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th scope="row">
          Entity Name
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th scope="row">
          Task Type
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th scope="row">
          Time
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th scope="row">
          Contact person
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th scope="row">
          Notes
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th scope="row">
          Status
          <span class="filter-icon align-items-center" role="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
              />
            </svg>
          </span>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (task of tasks; track task._id) {
      <tr>
        <td scope="row">{{ task.date }}</td>
        <td scope="row">{{ task.entityName }}</td>
        <td scope="row">{{ task.taskType }}</td>
        <td scope="row">{{ task.time }}</td>
        <td scope="row">{{ task.contactPerson }}</td>
        <td scope="row">{{ task.notes }}</td>
        <td scope="row">{{ task.status }}</td>
        <td scope="row">
          <button
            matButton
            [matMenuTriggerFor]="menu"
            class="btn top-0 d-flex align-items-top"
          >
            Options
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Edit</button>
            <button mat-menu-item>Duplicate</button>
          </mat-menu>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
